In [2]:
import pandas as pd

In [5]:
data = pd.ExcelFile("covid_cases.xlsx")
print(data.sheet_names)
data = data.parse('Sheet1')
data.head()

['Sheet1']

,State,District,Confirmed,Population_2020,Populationdensity_2020,Household,Rural,Urban,Age_0_29,Age_29_49,Age_above_50
0,AP,Anantapur,60285,4547714,238,164260,147245,17015,339845,122373,68346
1,AP,Chittoor,68903,4619631,305,236581,217187,19394,448511,169661,92293
2,AP,East Godavari,104636,5395785,499,225033,189973,35060,374830,167714,102315
3,AP,Guntur,58941,5322078,467,282447,229183,53264,692876,260876,142067
4,AP,Krishna,31020,4860085,557,181593,158304,23290,367646,147049,85967